/* Palette:
#CDB4DB - Thistle (Purple)
#FFC8DD - Fairy Tale (Light Pink)
#FFAFCC - Carnation Pink (Pink)
#BDE0FE - Uranian Blue (Light Blue)
#A2D2FF - Light Sky Blue (Blue)
#ba9ccc - Purple
*/

@media only screen and (max-width: 1024px) { /* Smaller Screens */
    .contactgrid-container {
        grid-template-areas: 
        "heading"
        "form" 
        "info";
    }
    .informationText {
        margin-bottom: 3rem;
    }
    .heading-container {
        h2 {
            padding: 0.6rem;
        }
    }
    .contact-input-container {
        margin: 1rem;
    }
}

@media only screen and (min-width: 1024px) { /* Big Screens / PC */
    .contactgrid-container {
        grid-template-areas: 
        "heading heading heading" 
        "info . form";
        grid-template-columns: 1.3fr 0.5fr 1fr;
        grid-template-rows: 1fr 6fr;
    }
    .heading-container {
        height: 4rem;
    }
    .information-container {
        .informationText {
            height: 40%;
        }
        .teleInfoText {
            height: 40%;
        }
    }
}

.contactgrid-container {
    display: grid;
    * {
        font-family: Arial, Helvetica, sans-serif;
    }
}

.heading-container {
    grid-area: heading;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    h2 {
        min-width: fit-content;
        color: rgb(51, 51, 51);
        border: 0.4rem outset hsla(333, 56%, 74%, 0.582);
        height: 100%;
        width: 40%;
        text-align: center;
        align-content: center;
        font-size: 2.5rem;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
}

.information-container {
    margin: 1rem 0 1rem;
    grid-area: info;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    > * {
        background-color: rgb(223, 223, 223);
        border: 1px solid #FFAFCC;
        background-color: #fbdaff28;
        border-radius: rem;
        img {
            align-self: center;
            width: 5rem;
        }
    }
    p {
        font-size: 1.7rem;
    }
    .informationText {
        text-align: center;
        align-content: center;
    }
    .teleInfoText {
        text-align: center;
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

.contact-form {
    grid-area: form;
    border: 2px solid #FFAFCC;
    background-color: #fbdaff28;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    padding: 0 1rem 1rem 1rem;
    .submitButton {
        padding: 0.3rem 1.2rem 0.3rem 1.2rem;
        border: 3px rgb(200, 135, 219) solid;
        background-color: #ffbfd6;
        color: rgb(119, 66, 206);
        border-radius: 1rem;
    }
    .submitButton:hover {
        transform: scale(1.04);
        box-shadow: 0 0 15px rgba(138, 70, 202, 0.767);
        border: 3px rgb(173, 97, 218) solid;
    }
    .contact-input-container {
        position: relative;
        width: 90%;
        display: flex;
        justify-content: center;
        > label {
            position: absolute;
            top: -0.7rem;
            left: 1rem;
            z-index: 1; /* Places above */
            background-color: white; /* Hides border behind it */
            padding: 0 0.3rem 0 0.3rem;
        }
        > input {
            position: relative;
            height: 2rem;
            text-indent: 1rem;
            width: 100%;
        }
    }
    #message-container { /* Special styling for message box */
        textarea {
            height: 14rem;
            width: 100%;
            padding: 1rem;
        }
        > label {
            top: -0.7rem;
            left: 0.5rem;
        }
    }
    .form-subject-select {
        display:flex;
        gap: 0.8rem;
    }
}

