/* Palette:
#CDB4DB - Thistle (Purple)
#FFC8DD - Fairy Tale (Light Pink)
#FFAFCC - Carnation Pink (Pink)
#BDE0FE - Uranian Blue (Light Blue)
#A2D2FF - Light Sky Blue (Blue)
#ba9ccc - Purple
*/

[data-theme="light"] {
    background-color: white;
    .footer_socials {
        background-color: whitesmoke;
    }
}

[data-theme="dark"] {
    background-color: rgb(141, 141, 141);
    color: whitesmoke;
    .footer_socials {
        background-color: rgb(199, 199, 199);
    }
}

#themeButton {
    width: 100%;
}

* { /* Removes auto-padding and margin */
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

/* --- Media Queries --- */

@media only screen and (max-width: 1024px) { /* Smaller Screens */
    * {
        font-size: 14px;
    }

    .gridcontainer {
        grid-template-areas: 
        "header header header"
        "navbar navbar navbar"
        "main main main"
        "footer footer footer";
    }

    .header, .navbar{ /* Adds some margin so it doesnt reach the edge of screen */
        margin: 0 1rem 0 1rem;
    }

    .main-container {
        margin: 0 0.5rem 0 0.5rem
    }

    .footer {
        height: 6rem !important;
        margin-top: 6rem;
    }

    .hot-ribbon {
        right: -25px;
        top: -15px;
    }
    .header {
        grid-template-columns: 1fr 1fr 0.2fr 1.25fr;
    }
    #review-scroll-box {
        p {
            font-size: large;
        }
    }

}

@media only screen and (min-width: 1024px) {
    * {
        font-size: 18px;
    }

    .gridcontainer { 
    grid-template-areas: 
    ". header ."
    ". navbar ."
    ". main ."
    "footer footer footer";
    }

    .header {
        grid-template-columns: 1fr 4fr 0.3fr 1.25fr;
    }
    
    .navlist li {
        margin-right: 2rem;
    }

    .navlist li:active {
        transform: scale(0.96);
    }

    .hot-ribbon {
        right: -35px;
        top: -15px;
    }
    .logo > img {
        width: 90%;
        object-fit: contain;
    }
    .footer {
        margin-top: 12rem;
    }
}

/* --- Container --- */

.gridcontainer {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 3.7fr 1fr;
}

/* --- Header --- */

.header {
    grid-area: header;
    height: 4.5rem;
    min-height: fit-content;
    display: grid;
    grid-template-areas: 
    "logo . options searchbar";
    align-items: center;
}

.logo {
    grid-area: logo;
    > img {
        width: 90%;
        object-fit: contain;
    }
}

/* Options */

.options {
    grid-area: options;
}

/* Searchbar */

.searchbar {
    grid-area: searchbar;
    width: 100%;
    height: 1.75rem;
    > form {
        display: flex;
    }
}

.searchInput {
    width: 100%;
    min-width: 8rem;
    border: 3px solid #D29093;
    border-right: none;
    height: 1.75rem;
    border-radius: 0.5rem 0 0 0.5rem;
    padding: 0.2rem; /* Gives a little space on the inside */
}

.searchButton {
    width: 30px;
    border: 3px solid #D29093;
    cursor: pointer;
    background-color: #D29093;
    height: 1.75rem;
    border-radius: 0 0.5rem 0.5rem 0;
}

input:focus { /* Removes focus outline when selecting searchbar */
    outline: none;
}

input:focus::placeholder {
    color: transparent;
}

/* --- Navbar --- */

.navbar {
    align-items:center;
    justify-content: center;
    display: flex;
    grid-area: navbar;
    height: 2.75rem;
    margin: 0.4rem 0 3rem;
    padding: 0 0.5rem 0 0.5rem;
    background-color: #FFC8DD;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 0.75rem;
}

.navlist {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlist li {
    border: 3px solid #ba9ccc;
    background-color: #CDB4DB;
    display: inline-block;
    width: calc(85%/4); /* Calc to easily add li elements */
    text-align: center; /* Puts text in middle instead of far left */
    height: 75%;
    text-decoration: none;
    font-size: 10px !important; /* !important overwrites other styles defining font-size */
    border-radius: 0.75rem;
    a { /* Link & Text of navbar entry */
        text-decoration: none;
        color: rgb(58, 23, 90); /* Text Colour */
        width: 100%;
        height: 100%;
        display: inline-block;
        align-content: center;
    }
}

.navlist li:hover {
    border: 3px solid #b182cc;
    a {
        color: #a527be;
    }
}




.navlist li:last-child {
    margin-right: 0; /* Removes margin on last navlist entry */
}

/* --- Main Content --- */

.main-container {
    grid-area: main;
    min-height: 80vh; /* Temporary */
    overflow-x: auto;
}

.widebox {
    background-color: #DAB9DC;
    border: 0.3rem solid #C8ACD7;
    border-radius: 1rem;
    height: 28rem;
    padding: 0.4rem;
    & > img {
        width: 100%;
        height: 100%;
        object-fit:cover;
        object-position:center;
        border-radius: 0.8rem;
    }
}

.scroll-box-container {
    margin: 4rem 0 2rem;
    ul {
        list-style-type: none; /* Removes list dots */
        display: flex;
        gap: 2rem; /* Gap between items */
        overflow-x: scroll; /* Hides overflow and adds scrollbar */
        padding: 1.5rem 0 1.5rem;
    }
    h1 {
        background-color: #e7c8e9;
        padding: 1rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #616161;
        font-size: 20px;
        width: 100%;
        border-radius: 0.5rem;
        text-align: center;
    }
}

.scroll-box-container::before, 
.scroll-box-container::after { /* Uses psuedo-elements to prevent first row of 10px being taken up */
  content: '';
} 

.scroll-box_item {
    background-color: #DAB9DC;
    border: 0.4rem solid #C8ACD7;
    flex: 0 0 auto;
    border-radius: 0.7rem;  
    padding: 0.3rem;
    display: flex;
    width: 20rem;
    height: 20rem;
    position: relative; /* Allows ribbon to position correctly */
    p {
        padding: 0.75rem;
    }
    img {
        width: 100%;
        object-fit: cover;
    }
}

#review-scroll-box {
    margin-top: 5rem;
    h1 { /* 'User Reviews' Text */
        background-color: #A2D2FF;
        margin-bottom: 1rem;
    }
    li {
    background-color: #A2D2FF;
    border: 0.4rem solid #BDE0FE;
    flex-direction: column;
    height: inherit;
    }
    h2 { /* Reviewer Name Text */
        margin: 0.5rem 0 1rem 1.5rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #3a3a3a;
        text-decoration: underline;
        word-wrap: break-word;
    }
    img { /* Portrait of Reviewer / Reviewed Product */
        height: 15rem;
        width: 15rem;
        align-self: center;
        margin-bottom: 0.5rem;
    }
    p { /* Review Text */
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

.hot-ribbon {
    width: 5rem;
    transform: rotate(25deg);
    border-radius: 1rem;
    background-color: rgb(162, 0, 0);
    color: rgb(238, 238, 238);
    padding: 4px;
    text-align: center;
    position: absolute;
    z-index: 1;
}


/* --- Footer --- */

.footer {
    border: 1px solid rgb(56, 56, 56);
    align-items: center;
    height: 8rem;
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    background-color: #FFC8DD;
}

.footer_copyright {
    border: 1px solid black;
    padding: 0.2rem;
    background-color: white;
}

.footer_socials {
    height: 5rem;
    margin-top: 1.5rem;
    padding: 0.2rem;
    align-content: center;
    li {
        min-width: fit-content; /* To clearly show alt text if image doesnt load */
        border-right: 0.15rem solid rgb(58, 58, 58);
        display: inline-block;
        padding: 0.25rem;
        width: 2rem;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        img {
            width: 80%;
            vertical-align: middle;
        }
    }
}

.footer_socials :last-child { /* Removes right border from final list element */ 
    border-right: none;
}

/* Small Toast Popup */

.toastPopup {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}
  
.toastPopup.visible {
    visibility: visible;
}

#submitAnimCanvas {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
}
